
{% extends 'odev/base.html' %}
{% block content %}

    {% for recipe in recipes %}

        <div class="box_list">
            <a href="{% url 'recipe_detail' pk=recipe.pk %}"><h1>{{ recipe.name }}</h1></a>
            <a href="{% url 'recipe_detail' pk=recipe.pk %}">
            <img class="list_image" src="{{ recipe.image.url }}" alt="image" ></a><br><br>
            <p class="my_p"> <strong>Description: </strong>
                    {{ recipe.description }}
            </p> 
           
                {% if user.is_authenticated %}
                    <p> <strong>Difficulty:</strong> {{ recipe.difficulty }}, <strong>Chef:</strong> {{ recipe.user }} <br><br>
                        <a href="{% url 'recipe_detail' pk=recipe.pk %}" >
                            <button type="submit" class="btn btn-default">Show</button>
                        </a>
                        <a href="{% url 'recipe_edit' recipe.pk %}">
                            <button type="submit" class="btn btn-default">Edit</button>
                    </a> </p>
                {% else %}
                    <p> <strong>Difficulty:</strong> {{ recipe.difficulty }}, <strong>Chef:</strong> {{ recipe.user }}<br><br>
                            <button type="submit" class="btn btn-default">Show</button>
                    </a></p>
                {% endif %}
            
        </div>
    {% endfor %}
    <a href="/ingredients">ingredients</a>


    <center>
    <div class="pagination">
        <span class="step-links">
            {% if recipes.has_previous %}
                <a href="?page={{ recipes.previous_page_number }}&q={{ request.GET.q }}"><button type="submit" class="btn btn-default">Previus Page</button></a>
            {% endif %}

            <span class="current">
                Page {{ recipes.number }} of {{ recipes.paginator.num_pages }}
            </span>

            {% if recipes.has_next %}
                <a href="?page={{ recipes.next_page_number }}&q={{ request.GET.q }}"><button type="submit" class="btn btn-default">Next Page</button></a>
            {% endif %}
        </span>
    </div>
    </center>


{% endblock %}
