<!-- actually recipe new template-->
{% extends 'odev/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    {% if user.is_authenticated %}
        <form method="POST" enctype="multipart/form-data">
            <a href="/ingredient/new"><button type="submit" class="btn btn-success">Add ingredient</button></a>
            {% csrf_token %}
            {{ form|crispy }}<br>
            <button type="submit" class="btn btn-success">Share</button>
            <a href="/"><button class="btn ">Cancel</button></a>
        </form>
        {% else %}
        <p>You must login or register first</p>
        <a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Register</a>
        <a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a>
    {% endif %}
{% endblock %}

