{% extends 'odev/base.html' %}
{% block content %}
    <div width="320" padding="10" border="5">
        <h1>{{ recipe.name }}</h1>
        <img src="{{ recipe.image.url }}" alt="image" width="200px" height="200px" >
        <ul>
            <p>Ingredients</p>
            {% for ingredient in recipe.ingredients.all %}
                <li> {{ ingredient }} </li>
            {% endfor %}
        </ul>
    </div>
    <p> Description: <br>{{ recipe.description }}</p>
    <p> Difficulty: {{ recipe.difficulty }}<p>
    <p> Chef: {{ recipe.user }}</p>
    <p> Published Time: {{ recipe.time }}</p>

    <a href="{% url 'recipe_list' %}">Geri</a>
    <a href="{% url 'recipe_edit' recipe.pk %}">edit</a>
    <a href="{% url 'recipe_delete' recipe.pk %}">delete</a>
{% endblock %}